@model IEnumerable<RealEstate.Models.PropertyAppModel>

@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<h4>List All Of Properties</h4>	

	@if (ViewBag.empty == false)
	{
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.id)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Category)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Address)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Price)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Status)
					</th>					
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.id)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Category)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Address)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Price)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Status)
						</td>					
						<td>
							<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
							<a asp-action="Details" asp-route-id="@item.id">Details</a> |
							<a asp-action="Delete" asp-route-id="@item.id">Delete</a>
						</td>
					</tr>
				}

			</tbody>
		</table>
	}
</div>
